.container {
  width: 90%;
  margin: 0 auto;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.textCenter {
  text-align: center;
}

input {
  width: 20rem;
  padding: 0.4rem;
  margin: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  border: 1px solid rgb(95, 93, 93);
}

button {
  width: 10rem;
  padding: 0.5rem;
  margin: 1rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(51, 51, 51);
  color: #fff;
  border: 1px solid #fff;
}

button:hover {
  background-color: rgb(95, 93, 93);
}

hr {
  border: 0.5px solid rgb(95, 93, 93);
}

.m1 {
  margin: 2rem;
}

.boxBlack {
  margin: 2rem auto;
  padding: 5rem;
  border: 2px solid rgb(63, 62, 62);
  color: rgb(63, 62, 62);
}

.boxRed {
  margin: 2rem auto;
  padding: 5rem;
  border: 2px solid rgb(136, 34, 34);
  color: rgb(136, 34, 34);
}
